$primary-color: #e50914; // Netflix red
$secondary-color: #221f1f; // Dark background color
$text-color: #ffffff; // White text color
$muted-text-color: #b3b3b3; // Muted text color
$background-color: #141414; // Main background color
